<div *ngIf="course; else loading" class="main">
 <button (click)="goBack()">Back</button>
 <div id="left">
     <div *ngFor="let vedio of course.vedios">
         <div>
              <button (click)=clickfunction(vedio.vedio_url,vedio._id)>{{vedio.vedio_title}}</button>
              <div *ngIf="checkvedioid(vedio._id);else other">
                Y
              </div>
              <ng-template #other>X</ng-template>
        </div>
    </div>
</div>
<div id="right">
    Couse will be shown here {{course.title}}
    <ngb-rating [(rate)]="currentRate" [(max)]="max">
      <ng-template let-fill="fill">
        <span class="star" [class.filled]="fill===100">&#9733;</span>
      </ng-template>
    </ngb-rating>
    <p><ngb-progressbar type="info" [value]="50"></ngb-progressbar></p>
    <div [hidden]="!play">
          <button (click)="change()">Start Course</button>
    </div>
    <div [hidden]="play">
         <div id="player" ></div>
    </div>
    Any question? Go to the Forum to find your answers
</div>
</div>
<ng-template #loading><div class="loading"><img src='../assets/images/loading.gif'/></div></ng-template>
