@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Kalam');
#mainheader{
  background-color:#43adc1;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);
  position: fixed;

}
#mainheader div#homeicon{
  color: white;
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 26px;
  padding-left: 140px;
}
#mainheader div#rightend{
   margin-right: 70px;
   #one{
     background-color: #02b3e4;
     border: none;
     color:#fff;
     padding:3px;
     padding-left:15px;
     padding-right:15px;
     border-radius: 4px;
     box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
   }
   #two{
     margin-left: 8px;
     background-color: #02ccba;
     border: none;
     color:#fff;
     padding:3px;
     padding-left:15px;
     padding-right:15px;
     border-radius: 4px;
     box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
   }
}
footer{
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f8fa;
  #footerline{
     height: 1px;
     background-color: #dbe2e8;
     width: 700px;
     margin-bottom: 10px;
  }
  svg{
    padding: 4px;
    color: #5e6364;
    cursor: pointer;
  }
  p{
    color:#5e6364;
    font-size: 10px;
  }
}
main{
  padding-left: 180px;
  padding-right: 180px;
  margin-top: 70px;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap:         wrap;
}
#maincoverall{
  display: flex;
  flex-direction: column;
  width: 1350px;
}
.card-cover{
  transition: all 0.4s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width:280px;
  height: 280px;
  margin: 20px;
  border-radius: 5px;
  button{
      margin-top: 10px;
      margin-left: 5px;
      width: 260px;
      background-color: #fff;
      border: none;
      padding:8px;
      color:#4551b7;
      border-radius: 2px;
      padding-left: 10px;
      font-size: 17px;
  }
  button:hover{
      background-color: #ededed;
  }
}
.card-cover:hover{
  transition: all 0.4s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}
.card-title{
  height: 121px;
  display: flex;
  align-items: flex-end;
  background-color: #E91E63;
  color:#fff;
  padding-left:10px;
  h1{
  font-size: 2.8rem;
  line-height: 2.25rem;
  font-weight: 400;
  }
  border-top: 5px;
}
.card-description{
  padding-top:20px;
  height: 100px;
  padding-left:5px;
  padding-right:5px;
  color:#413d49;
  font-size: 17px;
  }
#line{
  height: 1px;
  background-color:#e5e5e5;
}
