<header>
  <h3>Edit the Course</h3>
</header>
<form [formGroup]="courseForm" (ngSubmit)="onSubmit(courseForm.value)" novalidate class="form">
  <div class="form-group">
   <label class="center-block">Course id:
     <input class="form-control" formControlName="courseid">
   </label>
 </div>
 <div class="form-group">
   <label class="center-block">Title:
     <input class="form-control" formControlName="title">
   </label>
</div>
<div class="form-group">
   <label class="center-block">Description:
     <textarea class="form-control"type="text" formControlName="description">
     </textarea>
   </label>
</div>
<div class="form-group">
   <label class="center-block">Author:
     <input class="form-control" type="text" formControlName="author">
   </label>
</div><br>
<div class="form-group">
   <label class="center-block">No of vedios:
     <input class="form-control" type="text" formControlName="no_of_vedios">
   </label>
</div><br>
<div formArrayName="secretLairs">
  <div *ngFor="let vedio of secretLairs.controls; let i=index" [formGroupName]="i" class="vedios">
     <h4>Details for vedio {{i+1}} </h4>
     <div class="secretlairs">
        <div class="form-group">
        <label>Vedio Title:
         <input class="form-control" type="text" formControlName="vedio_title">
        </label>
        </div>
        <div class="form-group">
        <label>Vedio url:
         <input class="form-control" type="text" formControlName="vedio_url">
        </label>
      </div>
     </div>
     <button (click)="removeLair(i)" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
  </div>
  <button (click)="addnewLair()" class="btn " type="button">Add new vedio</button>
</div>
<div><br>
<button type="submit"  class="btn">Save Changes</button>
</div>
</form>
