@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');
#mainheader{
  width: 100%;
  min-height: 50px;
  position: fixed;
  background-color: #E91E63;
  margin-top: -10px;
  margin-left: -8px;
  display:flex;
  align-items: center;
}
#mainheader div{
  color: white;
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 24px;
  padding-left: 140px;
}
