<div id="maincover">
<header id="mainheader">
   <div>
      Coursea
   </div>
</header>
<main id="cover">
   <div *ngFor="let course of courses; let i = index">
        <div class="card-cover">
            <div class="card-title" [ngStyle]="{'background-color':setcolor[i]}">
                 <h1 class="card-title-text">{{course.title}}</h1>
            </div>
            <div class="card-description">
                   {{course.description}}
            </div>
            <div id="line"></div>
            <div class="card-button">
                   <div *ngIf="course.enroll===false;else other_content">
                     <button (click)="enroll(course)" >Enroll Me</button>
                   </div>
                  <ng-template #other_content><button (click)="goto(course)" >View Course</button></ng-template>
            </div>
        </div>
   </div>
</main>
<footer>
</footer>
</div>
