@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');
#mainheader{
  background-color: #E91E63;
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}
#mainheader div{
  color: white;
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 26px;
  padding-left: 140px;
}
